version: '3.7'

services:
  web:
    build: .
    container_name: django_gunicorn
    command: ["./wait-for-postgres.sh", "db", "gunicorn", "app.wsgi:application", "--bind", "0.0.0.0:8000"]
    volumes:
      - static:/static
    ports:
      - 80:8000
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres
    container_name: postgres_django
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env

  nginx:
    build: ./nginx
    container_name: test_deploy_nginx
    volumes:
      - static:/static/
    expose:
      - 8081
    depends_on:
      - web

volumes:
  postgres_data:
  static:
