version: '3.7'

services:
  web:
    build: .
    container_name: django_gunicorn
    restart: unless-stopped
    command: bash -c "python manage.py collectstatic --no-input && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - static:/app/static
    expose:
      - 8000
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres
    container_name: postgres_django
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env

  nginx:
    build: ./nginx
    container_name: test_deploy_nginx
    restart: unless-stopped
    volumes:
      - static:/static/
    expose:
      - 8081
    depends_on:
      - web

volumes:
  postgres_data:
  static:

networks:
  default:
    external: true
    name: nginxproxymanager_default