asgiref>=3.7.2
beautifulsoup4>=4.12.2
certifi>=2023.11.17
charset-normalizer>=3.3.2
defusedxml>=0.7.1
Django>=4.2.6,<5.0
django-appconf>=1.0.6
django-bootstrap-icons>=0.8.7
django-bootstrap-v5>=1.0.11
djangorestframework>=3.14.0
gunicorn>=21.2.0
idna>=3.6
openpyxl>=3.1.2
psycopg2-binary>=2.9.9
python-dotenv>=1.0.0
pytz>=2023.3
reportlab>=4.1.0
requests>=2.31.0
soupsieve>=2.5
sqlparse>=0.4.4
urllib3>=2.1.0
whitenoise>=6.5.0 