:root {
  --bs-body-bg: #efeeef;
  --bs-bg-secondary: $red;

}

body {
  margin-top: 6rem;
}

ul {
  list-style: none;
}

.navbar-brand img {
  max-width: 90vw;
  height: auto;
}

.stealth {
  color: inherit;
}

.page-title {
  font-size: xx-large;
  margin-right: 1rem;
}

.warning {
  color: red;
}

.info {
  color: blue;
}

.fa-times {
  color: red;
}

hr {
  /* defaults commented
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); */
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.indented {
  text-indent: 2em;
}

.pagination {
  margin: 2rem;
}

.highlight-yellow {
  background-color: #ffffcc; /* A less bright yellow */
}