{% extends "base.html" %}

{% block page_content %}

<h3>Welcome to the Native American Languages Collection database!</h3><p />

NAL is a research division within the Sam Noble Oklahoma Museum of Natural History at the University of Oklahoma. The mission of the department is to support Native communities and researchers in their work related to Native languages and to promote Native language revitalization and awareness. We currently have two databases:
<ol>
    <li>The collection database, with searchable metadata on all the audio, video, manuscript, and published materials under our curatorial stewardship.</li>
    <li>The reference database, with searchable metadata for reference resources that provide valuable information about Native American languages, linguistics, anthropology, and archaeology.</li>
</ol>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Forgot password?</a></p>

{% endblock %}
