{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>Create a {{ add_type }}</h1>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
<form method="post" action="" enctype='multipart/form-data'>
    {% csrf_token %}
    <div>
      Title:*<br/>
      {{form.title}}
    </div>
    <div>
      Group:<br/>
      {{form.group}}
    </div>
    <div>
      Language:*<br/>
      {{form.languoid}}
    </div>
    <div>
      Category:*<br/>
      {{form.category}}
    </div>
    <div>
      Grade range:*<br/>
      {{form.grade_range}}
    </div>
    <div>
      Individual or group:*<br/>
      {{form.performance_type}}
    </div>
    <input type="submit" value="Submit Form"/>
</form>



{% endblock %}
