{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block page_content %}
    <h1>Contact Information</h1>
    <div>
        <p>
            Phone: (405) 325-7588<br />
            Email: onaylf.samnoblemuseum@ou.edu
        </p>
    </div>

    <div class="col-6">
        Please contact us with questions and comments if you need assistance. We’ll be happy to help you get registered. The ONAYLF office is staffed on Wednesdays; we will return your messages as soon as possible.
    </div>
{% endblock %}
