{% extends "base.html" %}
{% load static %}

{% block title %}Fair details for {{ currentFair }}{% endblock %}

{% block page_content %}
{% if moderator %}
    <h2>Fair Information for {{ currentFair }}</h2>

    <div class="d-flex mt-3 mb-2">
        <div>
            <button class="btn btn-primary me-1" id="downloadButton">Download</button>
        </div>
        <div class="spinner-border text-primary d-none" id="spinner" role="status">
            <span class="sr-only"></span>
        </div>
        <div class="ms-1 d-flex align-items-center">
            (This can take a minute or two)
        </div>
    </div>

    <div class="d-flex mt-3 mb-2">
        <div>
            <button class="btn btn-primary me-1" id="downloadJudgeSheetsButton">Download Judge Sheets</button>
        </div>
        <div class="spinner-border text-primary d-none" id="spinner-judge" role="status">
            <span class="sr-only"></span>
        </div>
    </div>

    <h3>Performances</h3>
    <ul>
    <li>Number of submitted (and not approved) performances: {{ performances_submitted_count }}</li>
    <li>Number of approved performances: {{ performances_approved_count }}</li>
    <li>Total number of submitted and approved performances: {{ performances_total_count }}</li>
    </ul>

    <h3>Students</h3>
    <ul>
    <li>Number of students in submitted (and not approved) performances: {{ students_submitted }}</li>
    <li>Number of students in approved performances: {{ students_approved }}</li>
    <li>Total number of students in submitted and approved performances: {{ students_total }}</li>
    </ul>

    <h2>Stats for approved performances:</h2>

    <h3>Categories</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Approved</th>
                <th scope="col">Submitted</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
        {% for category, counts in performances_by_category.items %}
            <tr>
                <td>{{ category }}</td>
                <td>{{ counts.approved }}</td>
                <td>{{ counts.submitted }}</td>
                <td>{{ counts.all }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Languages</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Language</th>
                <th scope="col">Approved</th>
                <th scope="col">Submitted</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
        {% for language, counts in performances_by_language.items %}
            <tr>
                <td>{{ language }}</td>
                <td>{{ counts.approved }}</td>
                <td>{{ counts.submitted }}</td>
                <td>{{ counts.all }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Grade Ranges</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Grade range</th>
                <th scope="col">Approved</th>
                <th scope="col">Submitted</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
        {% for grade_range, counts in performances_by_grade_range.items %}
            <tr>
                <td>{{ grade_range }}</td>
                <td>{{ counts.approved }}</td>
                <td>{{ counts.submitted }}</td>
                <td>{{ counts.all }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>T-Shirts</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">T-shirt size</th>
                <th scope="col">Approved</th>
                <th scope="col">Submitted</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
        {% for tshirt_size, counts in tshirt_sizes_summary.items %}
            <tr>
                <td>{{ tshirt_size }}</td>
                <td>{{ counts.approved }}</td>
                <td>{{ counts.submitted }}</td>
                <td>{{ counts.all }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Bag count</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Approved</th>
                <th scope="col">Submitted</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ bag_count.approved }}</td>
                <td>{{ bag_count.submitted }}</td>
                <td>{{ bag_count.all }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Accessories</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Accessories</th>
                <th scope="col">Approved</th>
                <th scope="col">Submitted</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
        {% for accessory, counts in accessories_summary.items %}
            <tr>
                <td>{{ accessory }}</td>
                <td>{{ counts.approved }}</td>
                <td>{{ counts.submitted }}</td>
                <td>{{ counts.all }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    <script>
        const downloadButton = document.getElementById('downloadButton');
        const spinner = document.getElementById('spinner');
        const downloadJudgeSheetsButton = document.getElementById('downloadJudgeSheetsButton');
        const spinnerJudge = document.getElementById('spinner-judge');

        function sanitizeFilename(filename) {
            return filename.replace(/[^a-z0-9_.-]/gi, '_');
        }

        class App {
    
            constructor() {
                downloadButton.addEventListener('click', this._downloadMetadata.bind(this));
                downloadJudgeSheetsButton.addEventListener('click', this._downloadJudgeSheets.bind(this));
            }

            _getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            
            _downloadMetadata(){
                const fair_pk = "{{ fair.pk }}"
                const currentFair = "{{ currentFair }}"
                downloadButton.disabled = true;
                downloadButton.classList.remove('btn-primary');
                downloadButton.classList.add('btn-secondary');
                spinner.classList.remove('d-none');
                fetch(`/api/fair/${fair_pk}/download/`)
                    .then(response => {
                        const contentType = response.headers.get("content-type");
                        if (!response.ok) {
                            if (contentType && contentType.includes("application/json")) {
                                return response.json().then(err => { throw new Error(`HTTP error! status: ${response.status}, message: ${err.error}`); });
                            } else {
                                throw new Error(`HTTP error! status: ${response.status}`);
                            }
                        }
                        if (contentType && contentType.includes("application/zip")) {
                            return response.blob();
                        }
                        throw new Error(`Unexpected content-type: ${contentType}`);
                    })
                    .then(blob => {
                        // Create a link and download the file
                        const url = window.URL.createObjectURL(blob);
                        const link = document.createElement('a');
                        link.href = url;
                        link.download = sanitizeFilename(`fair${currentFair}-data.zip`);
                        document.body.appendChild(link); // Append the link to the body
                        link.click();
                        document.body.removeChild(link); // Remove the link from the body
                        window.URL.revokeObjectURL(url); // Revoke the object URL
                        downloadButton.disabled = false;
                        downloadButton.classList.remove('btn-secondary');
                        downloadButton.classList.add('btn-primary');
                        spinner.classList.add('d-none');
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        downloadButton.disabled = false;
                        downloadButton.classList.remove('btn-secondary');
                        downloadButton.classList.add('btn-primary');
                        spinner.classList.add('d-none');
                    });
            }

            _downloadJudgeSheets(){
                const fair_pk = "{{ fair.pk }}"
                const currentFair = "{{ currentFair }}"
                downloadJudgeSheetsButton.disabled = true;
                downloadJudgeSheetsButton.classList.remove('btn-primary');
                downloadJudgeSheetsButton.classList.add('btn-secondary');
                spinnerJudge.classList.remove('d-none');
                fetch(`/api/fair/${fair_pk}/download-judge-sheets/`)
                    .then(response => {
                        console.log(response);
                        const contentType = response.headers.get("content-type");
                        if (!response.ok) {
                            if (contentType && contentType.includes("application/json")) {
                                return response.json().then(err => { throw new Error(`HTTP error! status: ${response.status}, message: ${err.error}`); });
                            } else {
                                throw new Error(`HTTP error! status: ${response.status}, response: ${response}`);
                            }
                        }
                        if (contentType && contentType.includes("application/pdf")) {
                            return response.blob();
                        }
                        throw new Error(`Unexpected content-type: ${contentType}`);
                    })
                    .then(blob => {
                        // Create a link and download the file
                        const url = window.URL.createObjectURL(blob);
                        const link = document.createElement('a');
                        link.href = url;
                        link.download = sanitizeFilename(`fair${currentFair}-judge_sheets.pdf`);
                        document.body.appendChild(link); // Append the link to the body
                        link.click();
                        document.body.removeChild(link); // Remove the link from the body
                        window.URL.revokeObjectURL(url); // Revoke the object URL
                        downloadJudgeSheetsButton.disabled = false;
                        downloadJudgeSheetsButton.classList.remove('btn-secondary');
                        downloadJudgeSheetsButton.classList.add('btn-primary');
                        spinnerJudge.classList.add('d-none');
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        downloadJudgeSheetsButton.disabled = false;
                        downloadJudgeSheetsButton.classList.remove('btn-secondary');
                        downloadJudgeSheetsButton.classList.add('btn-primary');
                        spinnerJudge.classList.add('d-none');
                    });
            }

        }
        const app = new App();
    </script>

{% endif %}
{% endblock %}