{% extends "base.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load bootstrap_icons %}
{% load static %}

{% block title %}Home{% endblock %}

{% block featured %}
Welcome, {{ currentUser.first_name }}<br />

This is your Homepage. On this page you can choose to enter a Performance (for all categories except Posters) or a Poster. We separated those for your convenience.<br />

You will also return to this page after submitting a Performance or Poster. You will be able to see all of your entries, their status, and go back into them to edit from here.

{% endblock %}


{% block page_content %}

{% if moderator %}{% else %}
<div class="mb-3">
    <a href="performance/add/" class="btn btn-primary">New Performance</a>
    <a href="poster/add/" class="btn btn-primary">New Poster</a>
</div>
{% endif %}

<table class="table table-striped performance-table">
  <tbody>
{% for performance in performances %}
    <tr class="row small">
        <td class="col-md-1 overflow-hidden">
            {{ performance.user }}
        </td>
        <td class="col-md-1 overflow-wrap">
            {{ performance.title }}
        </td>
        <td class="col-md-1 overflow-hidden">
            {{ performance.category.name }}
        </td>
        <td class="col-md-1 overflow-hidden">
             {{ performance.get_grade_range_display }}
        </td>
        <td class="col-md-1 overflow-hidden">
            {{ performance.performance_type }}
        </td>
        <td class="col-md-1 overflow-hidden">
            {{ performance.group }}
        </td>
        <td class="col-md-1 overflow-hidden">
            status
        </td>
        <td class="col-md-1 overflow-hidden">
            action <span class="edit edit-performance">{% bs_icon 'pencil' %}<span>
        </td>
    </tr>
{% endfor %}
  </tbody>
</table>

<script>
  const table = document.querySelector('.performance-table');
  const moderator = "{{ moderator }}"

  class App {
    tableObjects
    tableHeader = `
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Category</th>
      <th>Grade</th>
      <th>Performance type</th>
      <th>Group</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
`
    tableBody
    activeValue
    activeEditButton


    constructor() {

      document.addEventListener('DOMContentLoaded', this._loadTable.bind(this));
      console.log(this.tableObjects)
    }

    _getPerformances(){

        let user_param;
        if (moderator) {
            user_param = ""
        } else {
            const user_id = "{{ currentUser.id }}";
            user_param = `?user_id=${user_id}`
        }

        const headers = { 'Content-Type': 'application/json' };
        return fetch(`/api/performance-poster/${user_param}`, { headers, })
            .then(res => res.json())
            .then(data => {
                // console.log(data);
                this.tableObjects = data
            });

    }


    async _loadTable(sort=null) {
      await this._getPerformances()
      console.log(this.tableObjects)
      table.innerHTML = this.tableHeader
      this.tableBody = document.querySelector('.performance-table tbody');
      this.tableObjects.forEach((tableObject) => {
        console.log(tableObject)
        let category;
        let performance_type;
        let group;
        if ( tableObject.poster ) {
            category = 'Poster';
            performance_type = 'Individual';
            group = '';
        } else {
            category = tableObject.category.name;
            performance_type = tableObject.performance_type;
            group = tableObject.group;
        }
        
        const html = `
        <tr class="row small">
            <td class="col-md-1 overflow-hidden">
                ${tableObject.user.email}
            </td>
            <td class="col-md-1 overflow-wrap">
                ${tableObject.title}
            </td>
            <td class="col-md-1 overflow-hidden">
                ${category}
            </td>
            <td class="col-md-1 overflow-hidden">
                ${tableObject.grade_range_display}
            </td>
            <td class="col-md-1 overflow-hidden">
                ${performance_type}
            </td>
            <td class="col-md-1 overflow-hidden">
                ${group}
            </td>
            <td class="col-md-1 overflow-hidden">
                status
            </td>
            <td class="col-md-1 overflow-hidden">
                <span class="detail performance-detail">
                        <a class="stealth" href="/performance/${tableObject.id}/">
                            {% bs_icon 'info-circle-fill' %}
                        </a>
                </span>
            </td>
        </tr>
  `;
        const row = this.tableBody.insertRow();
        row.innerHTML = html
      });

    }
  }
  const app = new App();
</script>

{% endblock %}
