{% extends "base.html" %}
{% load static %}

{% block title %}Performance details{% endblock %}


{% block page_content %}
<div class="included-content">
    {% include 'progress.html' %}
</div>

<h2> Review performance details </h2>

<hr />

<h3> Performance </h3>
<b>Title:</b> {{ performance.title }}<br />
<b>Performance Group Name:</b> {{ performance.group }}<br />
<b>Language:</b> {{ performance.languoids.all|join:", " }}<br />
{% if includes_other_languoid %}<b>Other language:</b> {{ performance.other_languoid }}<br />{% endif %}
<b>User:</b> {{ performance.user }}<br />
<b>Category:</b> {{ performance.category }}<br />
<b>Grade Range:</b> {{ performance.grade_range }}<br />
<b>Organizational:</b> {{ organization }}

<hr />

<h3> Instructors </h3>
<table>
  <tbody>
{% for instructor in performance.instructors.all %}
    <tr data-id="{{ instructor.id }}">
        <td class="overflow-hidden">
            {{ instructor.firstname }} {{ instructor.lastname }}
        </td>
    </tr>
{% endfor %}
  </tbody>
</table>

<hr />

<h3> Students </h3>
<table class="table table-striped">
    <thead>
        <tr class="row small">
            <th class="col-md-2 overflow-hidden">Student</th>
            <th class="col-md-2 overflow-hidden">Hometown</th>
            <th class="col-md-2 overflow-hidden">Tribe</th>
            <th class="col-md-1 overflow-hidden">Grade</th>
            <th class="col-md-1 overflow-hidden">T-shirt size</th>
        </tr>
    </thead>
    <tbody>
        {% for student in performance.students.all %}
            <tr class="row small" data-id="{{ student.id }}">
                <td class="col-md-2 overflow-hidden">
                    {{ student.firstname }} {{ student.lastname }}
                </td>
                <td class="col-md-2 overflow-hidden">
                    {{ student.hometown }}, {{ student.state }}
                </td>
                <td class="col-md-2 overflow-hidden">
                    {{ student.languoids.all|join:", " }}
                </td>
                <td class="col-md-1 overflow-hidden">
                    {{ student.get_grade_display }}
                </td>
                <td class="col-md-1 overflow-hidden">
                    {{ student.tshirt_size }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h3> Accessories </h3>
<table class="table table-striped">
    <thead>
        <tr class="row small">
            <th class="col-md-3 overflow-hidden">Accessory</th>
            <th class="col-md-1 overflow-hidden">Count</th>
        </tr>
    </thead>
    <tbody>
        {% for accessory in accessories %}
        {% if accessory.count > 0 %}
            <tr class="row small" data-id="{{ accessory.id }}">
                <td class="col-md-3 overflow-hidden">
                    {{ accessory.name }}
                </td>
                <td class="col-md-1 overflow-hidden">
                    {{ accessory.count }}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

<h3> Comments </h3>
If you have anything you would like to communicate to us about this performance, please put it in the comments field below.

<form method="post" action="" enctype='multipart/form-data'>
    {% csrf_token %}
    <div>
      {{form.comments}}
    </div>
    <div>
        Please review the information above. Select "Submit Performance" if you are ready to submit this performance for approval by the fair staff. If you see an error message below, please complete the section indicated in the message and then return to Review. Once all sections are complete, the "Submit Performance" button will appear.
    </div>
    <hr />
    <div class="mb-3">
      <input type="submit" value="Submit performance"/>
      <span>
          <a href="/" class="btn btn-secondary">Cancel</a>
      </span>
    </div>
</form>


<script>
    
    const performanceStatusIcon = document.getElementById('performanceStatusIcon');
    const instructorsStatusIcon = document.getElementById('instructorsStatusIcon');
    const instructorsStatusNumber = document.getElementById('instructorsStatusNumber');
    const instructorsStatusDiv = document.getElementById('instructorsStatusDiv');
    const studentsStatusIcon = document.getElementById('studentsStatusIcon');
    const studentsStatusNumber = document.getElementById('studentsStatusNumber');
    const studentsStatusDiv = document.getElementById('studentsStatusDiv');
    const accessoriesStatusIcon = document.getElementById('accessoriesStatusIcon');
    const accessoriesStatusDiv = document.getElementById('accessoriesStatusDiv');
    const reviewStatusIcon = document.getElementById('reviewStatusIcon');
    const reviewStatusDiv = document.getElementById('reviewStatusDiv');
    const approvalStatusIcon = document.getElementById('approvalStatusIcon');
    const approvalStatusDiv = document.getElementById('approvalStatusDiv');

    const languoidsSelect = document.querySelector('#id_languoids');
    const otherLanguoidDiv = document.querySelector('.other_languoid');

    class App {
            
            constructor() {

            performanceStatusIcon.classList.add("text-success")
            // Create a new DOMParser
            var parser = new DOMParser;
            // Parse the encoded string as HTML
            var dom = parser.parseFromString('<!doctype html><body>' + "{{ performance.title }}", 'text/html');
            // Get the decoded string
            var decodedString = dom.body.textContent;
            performanceStatusName.textContent = decodedString;
            
            const numberOfInstructors = "{{ performance.instructors.count }}";
            instructorsStatusNumber.textContent = numberOfInstructors
            if ( numberOfInstructors > 0 ) {
                instructorsStatusIcon.classList.add("text-success")
                instructorsStatusDiv.textContent = "Completed"
            } else if ( "{{ performance.instructors_status }}" == "in_progress" ) {
                    instructorsStatusIcon.classList.add("text-warning")
                    instructorsStatusDiv.textContent = "In progress"
            } else {
                    instructorsStatusIcon.classList.add("text-danger")
                    instructorsStatusDiv.textContent = "Pending"
            }

            const numberOfStudents = "{{ performance.students.count }}";
            studentsStatusNumber.textContent = numberOfStudents
            if ( numberOfStudents > 0 ) {
                studentsStatusIcon.classList.add("text-success")
                studentsStatusDiv.textContent = "Completed"
            } else if ( "{{ performance.students_status }}" == "in_progress" ) {
                    studentsStatusIcon.classList.add("text-warning")
                    studentsStatusDiv.textContent = "In progress"
            } else {
                    studentsStatusIcon.classList.add("text-danger")
                    studentsStatusDiv.textContent = "Pending"
            }

            if ( "{{ performance.accessories_status }}" == "completed" ) {
                accessoriesStatusIcon.classList.add("text-success")
                accessoriesStatusDiv.textContent = "Completed"
            } else if ( "{{ performance.accessories_status }}" == "in_progress" ) {
                accessoriesStatusIcon.classList.add("text-warning")
                accessoriesStatusDiv.textContent = "In progress"
            } else {
                accessoriesStatusIcon.classList.add("text-danger")
                accessoriesStatusDiv.textContent = "Pending"
            }

            if ( "{{ performance.review_status }}" == "completed" ) {
                reviewStatusIcon.classList.add("text-success")
                reviewStatusDiv.textContent = "Completed"
            } else if ( "{{ performance.review_status }}" == "in_progress" ) {
                reviewStatusIcon.classList.add("text-warning")
                reviewStatusDiv.textContent = "In progress"
            } else {
                reviewStatusIcon.classList.add("text-danger")
                reviewStatusDiv.textContent = "Pending"
            }

            if ( "{{ performance.status }}" == "completed" ) {
                approvalStatusIcon.classList.add("text-success")
                approvalStatusDiv.textContent = "Completed"
            } else if ( "{{ performance.status }}" == "in_progress" ) {
                approvalStatusIcon.classList.add("text-warning")
                approvalStatusDiv.textContent = "In progress"
            } else if ( "{{ performance.status }}" == "disqualified" ) {
                approvalStatusIcon.classList.add("text-danger")
                approvalStatusDiv.textContent = "Disqualified"
            } else {
                approvalStatusIcon.classList.add("text-danger")
                approvalStatusDiv.textContent = "Pending"
            }

            document.addEventListener('DOMContentLoaded', this._toggleOtherLanguoid.bind(this));

            languoidsSelect.addEventListener('change', this._toggleOtherLanguoid.bind(this));

        }

      _toggleOtherLanguoid(){
        const selectedOptions = Array.from(languoidsSelect.selectedOptions);
        const otherIsSelected = selectedOptions.some(function(option) {
            return option.text === 'Other';
        });

        if (otherIsSelected) {
            // Show the other_languoid div when "Other" is selected
            otherLanguoidDiv.style.display = 'block';
        } else {
            // Hide the other_languoid div when "Other" is not selected
            otherLanguoidDiv.style.display = 'none';
        }
      }



  }
  const app = new App();
  </script>

{% endblock %}
