{% extends "base.html" %}
{% load static %}

{% block title %}Performance details{% endblock %}


{% block page_content %}

<h2> Performance details </h2>

<hr />

<h3> Performance </h3>
<b>Title:</b> {{ performance.title }}<br />
<b>Performance Group Name:</b> {{ performance.group }}<br />
<b>Language:</b> {{ performance.languoids.all|join:", " }}<br />
<b>User:</b> {{ performance.user }}<br />
<b>Category:</b> {{ performance.category }}<br />
<b>Grade Range:</b> {{ performance.grade_range }}<br />
<b>Organizational:</b> {{ organization }}

<hr />

<h3> Instructors </h3>
<table>
  <tbody>
{% for instructor in performance.instructors.all %}
    <tr data-id="{{ instructor.id }}">
        <td class="overflow-hidden">
            {{ instructor.firstname }} {{ instructor.lastname }}
        </td>
    </tr>
{% endfor %}
  </tbody>
</table>

<hr />

<h3> Students </h3>
<table class="table table-striped">
    <thead>
        <tr class="row small">
            <th class="col-md-2 overflow-hidden">Student</th>
            <th class="col-md-2 overflow-hidden">Hometown</th>
            <th class="col-md-2 overflow-hidden">Tribe</th>
            <th class="col-md-1 overflow-hidden">Grade</th>
            <th class="col-md-1 overflow-hidden">T-shirt size</th>
        </tr>
    </thead>
    <tbody>
        {% for student in performance.students.all %}
            <tr class="row small" data-id="{{ student.id }}">
                <td class="col-md-2 overflow-hidden">
                    {{ student.firstname }} {{ student.lastname }}
                </td>
                <td class="col-md-2 overflow-hidden">
                    {{ student.hometown }}, {{ student.state }}
                </td>
                <td class="col-md-2 overflow-hidden">
                    {{ student.languoids.all|join:", " }}
                </td>
                <td class="col-md-1 overflow-hidden">
                    {{ student.grade }}
                </td>
                <td class="col-md-1 overflow-hidden">
                    {{ student.tshirt_size }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h3> Accessories </h3>
<table class="table table-striped">
    <thead>
        <tr class="row small">
            <th class="col-md-3 overflow-hidden">Accessory</th>
            <th class="col-md-1 overflow-hidden">Count</th>
        </tr>
    </thead>
    <tbody>
        {% for accessory in accessories %}
        {% if accessory.count > 0 %}
            <tr class="row small" data-id="{{ accessory.id }}">
                <td class="col-md-3 overflow-hidden">
                    {{ accessory.name }}
                </td>
                <td class="col-md-1 overflow-hidden">
                    {{ accessory.count }}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

<h3> Comments </h3>

{{ performance.comments }}

<p>
    &nbsp;
</p>
<hr />
<div class="mb-3">
    <a href="edit/" class="btn btn-primary">Continue</a>
    <span>
        <a href="/" class="btn btn-secondary">Close and save</a>
    </span>
</div>

{% endblock %}
