{% extends "base.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load bootstrap_icons %}
{% load static %}

{% block title %}Choose accessories{% endblock %}

{% block featured %}
Choose accessories<br />

The museum can provide a few accessories on stage for performances. Select from the list below by adding a quantity.
{% endblock %}


{% block page_content %}
<div class="included-content">
    {% include 'progress.html' %}
</div>

    <h1>Choose accessories</h1>

    <table class="table table-striped accessory-table">
        <tbody>
            <tr class="row small">
                <th class="col-md-4 overflow-hidden">Accessory</th>
                <th class="col-md-4 overflow-hidden">Quantity</th>
            </tr>
            {% for accessory in accessories %}
            <tr class="row small" data-id="{{ accessory.id }}" data-name="{{ accessory.name }}" data-count="{% if accessory.count %}{{ accessory.count }}{% else %}0{% endif %}">
                <td class="col-md-4 overflow-hidden">
                    {{ accessory.name }}   
                </td>
                <td class="col-md-4 overflow-hidden">
                    <span>
                        <a class="performance-accessory-decrement" href="javascript:void(0)">
                            {% bs_icon 'dash-square-fill' color='black' %}
                        </a>
                    </span>
                    <span class="performance-accessory-count">
                        {% if accessory.count %}{{ accessory.count }}{% else %}0{% endif %}
                    </span>
                    <span>
                        <a class="performance-accessory-increment" href="javascript:void(0)">
                            {% bs_icon 'plus-square-fill' color='black' %}
                        </a>
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>

    <div class="mb-3">
        <a href="../review/" class="btn btn-primary" id="btn-submit">Continue</a>
        <span>
            <a href="/" class="btn btn-secondary" id="btn-close">Close and save</a>
        </span>
    </div>


<script>

    const performanceStatusIcon = document.getElementById('performanceStatusIcon');
    const instructorsStatusIcon = document.getElementById('instructorsStatusIcon');
    const instructorsStatusNumber = document.getElementById('instructorsStatusNumber');
    const instructorsStatusDiv = document.getElementById('instructorsStatusDiv');
    const studentsStatusIcon = document.getElementById('studentsStatusIcon');
    const studentsStatusNumber = document.getElementById('studentsStatusNumber');
    const studentsStatusDiv = document.getElementById('studentsStatusDiv');
    const accessoriesStatusIcon = document.getElementById('accessoriesStatusIcon');
    const accessoriesStatusDiv = document.getElementById('accessoriesStatusDiv');
    const reviewStatusIcon = document.getElementById('reviewStatusIcon');
    const reviewStatusDiv = document.getElementById('reviewStatusDiv');
    const approvalStatusIcon = document.getElementById('approvalStatusIcon');
    const approvalStatusDiv = document.getElementById('approvalStatusDiv');

    const buttonSubmit = document.querySelector('#btn-submit');
    const buttonClose = document.querySelector('#btn-close');

    let table = document.querySelector('.accessory-table');
    
    class App {
        tableObjects
        tableHeader = `
    <thead>
        <tr class="row small">
            <th class="col-md-4 overflow-hidden">Accessory</th>
            <th class="col-md-4 overflow-hidden">Quantity</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    `
        tableBody
        activeValue
        activeEditButton
        accessories
    
        constructor() {
        
            this._clickAccessoryIncrementPerformance = this._clickAccessoryIncrementPerformance.bind(this);
            document.addEventListener('DOMContentLoaded', () => {
                document.body.addEventListener('click', (e) => {
                    // console.log(e.target)
                    if(e.target.closest('.performance-accessory-increment')) {
                        this._clickAccessoryIncrementPerformance(e);
                    }
                });
            });

            this._clickAccessoryDecrementPerformance = this._clickAccessoryDecrementPerformance.bind(this);
            document.addEventListener('DOMContentLoaded', () => {
                document.body.addEventListener('click', (e) => {
                    // console.log(e.target)
                    if(e.target.closest('.performance-accessory-decrement')) {
                        this._clickAccessoryDecrementPerformance(e);
                    }
                });
            });

            buttonSubmit.addEventListener('click', this._modifySubmitButton.bind(this));
            buttonClose.addEventListener('click', this._modifySaveAndCloseButton.bind(this));

            performanceStatusIcon.classList.add("text-success")
            // Create a new DOMParser
            var parser = new DOMParser;
            // Parse the encoded string as HTML
            var dom = parser.parseFromString('<!doctype html><body>' + "{{ performance.title }}", 'text/html');
            // Get the decoded string
            var decodedString = dom.body.textContent;
            performanceStatusName.textContent = decodedString;
            
            const numberOfInstructors = "{{ performance.instructors.count }}";
            instructorsStatusNumber.textContent = numberOfInstructors
            if ( numberOfInstructors > 0 ) {
                instructorsStatusIcon.classList.add("text-success")
                instructorsStatusDiv.textContent = "Completed"
            } else if ( "{{ performance.instructors_status }}" == "in_progress" ) {
                    instructorsStatusIcon.classList.add("text-warning")
                    instructorsStatusDiv.textContent = "In progress"
            } else {
                    instructorsStatusIcon.classList.add("text-danger")
                    instructorsStatusDiv.textContent = "Pending"
            }

            const numberOfStudents = "{{ performance.students.count }}";
            studentsStatusNumber.textContent = numberOfStudents
            if ( numberOfStudents > 0 ) {
                studentsStatusIcon.classList.add("text-success")
                studentsStatusDiv.textContent = "Completed"
            } else if ( "{{ performance.students_status }}" == "in_progress" ) {
                    studentsStatusIcon.classList.add("text-warning")
                    studentsStatusDiv.textContent = "In progress"
            } else {
                    studentsStatusIcon.classList.add("text-danger")
                    studentsStatusDiv.textContent = "Pending"
            }

            if ( "{{ performance.accessories_status }}" == "completed" ) {
                accessoriesStatusIcon.classList.add("text-success")
                accessoriesStatusDiv.textContent = "Completed"
            } else if ( "{{ performance.accessories_status }}" == "in_progress" ) {
                accessoriesStatusIcon.classList.add("text-warning")
                accessoriesStatusDiv.textContent = "In progress"
            } else {
                accessoriesStatusIcon.classList.add("text-danger")
                accessoriesStatusDiv.textContent = "Pending"
            }

            if ( "{{ performance.review_status }}" == "completed" ) {
                reviewStatusIcon.classList.add("text-success")
                reviewStatusDiv.textContent = "Completed"
            } else if ( "{{ performance.review_status }}" == "in_progress" ) {
                reviewStatusIcon.classList.add("text-warning")
                reviewStatusDiv.textContent = "In progress"
            } else {
                reviewStatusIcon.classList.add("text-danger")
                reviewStatusDiv.textContent = "Pending"
            }

            if ( "{{ performance.status }}" == "approved" ) {
                approvalStatusIcon.classList.add("text-success")
                approvalStatusDiv.textContent = "Approved"
            } else if ( "{{ performance.status }}" == "in_progress" ) {
                approvalStatusIcon.classList.add("text-danger")
                approvalStatusDiv.textContent = "Unsubmitted"
            } else if ( "{{ performance.status }}" == "disqualified" ) {
                approvalStatusIcon.classList.add("text-danger")
                approvalStatusDiv.textContent = "Disqualified"
            } else {
                approvalStatusIcon.classList.add("text-warning")
                approvalStatusDiv.textContent = "Submitted"
            }
        }

        _getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

        async _clickAccessoryIncrementPerformance(e) {
            const button = e.target.closest('.performance-accessory-increment');
            const row = e.target.closest('.row');
            const accessory_id = row.dataset.id;
            const count = row.dataset.count;
            const countElement = row.querySelector('.performance-accessory-count');
            const performance_id = "{{ performance.id }}";
            const newCount = Number(count) + 1;
            await this._updatePerformanceAccessory(performance_id, Number(accessory_id), newCount);
            row.dataset.count = newCount;
            countElement.textContent = newCount;
            if ( "{{ performance.accessories_status }}" != "completed" ) {
                await this._updatePerformancePartStatus(performance_id, 'accessories_status', 'completed')
                accessoriesStatusIcon.classList.remove("text-warning")
                accessoriesStatusIcon.classList.add("text-success")
                accessoriesStatusDiv.textContent = "Completed"
            }
        }

        async _clickAccessoryDecrementPerformance(e) {
            const button = e.target.closest('.performance-accessory-decrement');
            const row = e.target.closest('.row');
            const accessory_id = row.dataset.id;
            const count = row.dataset.count;
            const countElement = row.querySelector('.performance-accessory-count');
            const performance_id = "{{ performance.id }}";
            if (count == 0) {
                return;
            }
            const newCount = Number(count) - 1;
            await this._updatePerformanceAccessory(performance_id, Number(accessory_id), newCount);
            row.dataset.count = newCount;
            countElement.textContent = newCount;
            if ( "{{ performance.accessories_status }}" != "completed" ) {
                await this._updatePerformancePartStatus(performance_id, 'accessories_status', 'completed')
                accessoriesStatusIcon.classList.remove("text-warning")
                accessoriesStatusIcon.classList.add("text-success")
                accessoriesStatusDiv.textContent = "Completed"
            }
        }

        _updatePerformanceAccessory(performance_id, accessory_id, count) {
            // console.log(count)
            const body = JSON.stringify({
                count: count});
            const csrftoken = this._getCookie('csrftoken');
            const headers = {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            };
            return fetch(`/api/performance-accessory-update/${performance_id}/${accessory_id}/`, {
                method: 'PATCH',
                headers,
                body: body,
            })
            .then(res => {
            if (res.status === 404) {
                // If the PATCH request returns a 404 status, the PerformanceAccessory does not exist
                // Call the _createPerformanceAccessory method
                return this._createPerformanceAccessory(performance_id, accessory_id, count);
            } else {
                // If the PATCH request returns any other status, return the response
                return res.json();
            }
        })
            .then(data => {
                console.log('Modified performance accessory:', data);
                // Handle any further actions after modifying the performance
            })
            .catch(error => {
                console.error('Error modifying performance accessory:', error);
                this._createPerformanceAccessory(performance_id, accessory_id, count);
            });
        }

        _createPerformanceAccessory(performance_id, accessory_id, count) {
            const body = JSON.stringify({
                performance: performance_id,
                accessory: accessory_id,
                count: count});
            const csrftoken = this._getCookie('csrftoken');
            const headers = {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            };
            return fetch(`/api/performance-accessory/add/`, {
                method: 'POST',
                headers,
                body: body,
            })
            .then(res => {
                console.log('Response status second:', res.status);

                res.json()
            })
            .then(data => {
                console.log('Created performance accessory:', data);
                // Handle any further actions after modifying the performance
            })
            .catch(error => {
                console.error('Error creating performance accessory:', error);
            });
        }

        _updatePerformancePartStatus(performance_id, field, status) {

            const body = JSON.stringify({
                [field]: status});
            const csrftoken = this._getCookie('csrftoken');
            const headers = { 'Content-Type': 'application/json', 'X-CSRFToken': csrftoken,};
            return fetch(`/api/performance-update/${performance_id}/`, {
                method: 'PATCH',
                headers,
                body: body,
            })
            .then(res => res.json())
            .then(data => {
                console.log('Modified performance status:', data);
                // Handle any further actions after modifying the performance
            })
            .catch(error => {
                console.error('Error modifying performance status:', error);
                // Handle errors, if any
            });
        }


        async _modifySubmitButton(e) {
            e.preventDefault();

            if ( "{{ performance.accessories_status }}" != "completed" ) {
                    await this._updatePerformancePartStatus("{{ performance.id }}", 'accessories_status', 'completed')
                }

            // Redirect to the review page
            window.location.href = "../review/";

        }

        async _modifySaveAndCloseButton(e) {
            e.preventDefault();

            if ( "{{ performance.accessories_status }}" != "completed" ) {
                    await this._updatePerformancePartStatus("{{ performance.id }}", 'accessories_status', 'completed')
                }
                
            // Redirect to the review page
            window.location.href = "/";

        }
    }
    const app = new App();
    </script>

{% endblock %}