{% extends "base.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load bootstrap_icons %}
{% load static %}

{% block title %}Edit performance{% endblock %}

{% block page_content %}
<h1>Edit a performance</h1>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
<form method="post" action="" enctype='multipart/form-data'>
    {% csrf_token %}
    <div>
      <b>Title:*</b><br/>
      {{form.title}}
    </div>
    <div>
      <b>Group:</b><br/>
      {{form.group}}
    </div>
    <div class="row">
      <div class="col-auto languoids">
          <b>Language:*</b><br/>
          {{form.languoids}}
      </div>
      <div class="col-auto other_languoid" style="display: none;">
          <b>Other language:</b><br/>
          {{form.other_languoid}}
      </div>
    </div>
    <div>
      <b>Category:*</b><br/>
      {{form.category}}
    </div>
    <div>
      <b>Grade range:*</b><br/>
      {{form.grade_range}}
    </div>
    <div>
      <b>Individual or group:*</b><br/>
      {{form.performance_type}}
    </div>
    <hr />
    <div class="mb-3">
      <input type="submit" value="Save and continue"/>
      <span>
          <a href="." class="btn btn-secondary">Cancel</a>
      </span>
    </div>
</form>

<script>
  const languoidsSelect = document.querySelector('#id_languoids');
  const otherLanguoidDiv = document.querySelector('.other_languoid');

  class App {
      constructor() {
      
        document.addEventListener('DOMContentLoaded', this._toggleOtherLanguoid.bind(this));


        languoidsSelect.addEventListener('change', this._toggleOtherLanguoid.bind(this));

      }

      _toggleOtherLanguoid(){
        const selectedOptions = Array.from(languoidsSelect.selectedOptions);
        const otherIsSelected = selectedOptions.some(function(option) {
            return option.text === 'Other';
        });

        if (otherIsSelected) {
            // Show the other_languoid div when "Other" is selected
            otherLanguoidDiv.style.display = 'block';
        } else {
            // Hide the other_languoid div when "Other" is not selected
            otherLanguoidDiv.style.display = 'none';
        }
      }



  }
  const app = new App();
  </script>

{% endblock %}
