{% extends "base.html" %}
{% load static %}

{% block title %}Poster details{% endblock %}


{% block page_content %}

<h2> Poster details </h2>

<hr />

<h3> Poster </h3>
<b>Language:</b> {{ performance.languoids.all|join:", " }}<br />
{% if includes_other_languoid %}<b>Other language:</b> {{ performance.other_languoid }}<br />{% endif %}
<b>Grade Range:</b> {{ performance.grade_range }}<br />
<b>User:</b> {{ performance.user }}<br />
<hr />

<h3> Instructor </h3>
<table>
  <tbody>
{% for instructor in performance.instructors.all %}
    <tr data-id="{{ instructor.id }}">
        <td class="overflow-hidden">
            {{ instructor.firstname }} {{ instructor.lastname }}
        </td>
    </tr>
{% endfor %}
  </tbody>
</table>

<hr />

<h3> Student </h3>
<table class="table table-striped">
    <thead>
        <tr class="row small">
            <th class="col-md-2 overflow-hidden">Student</th>
            <th class="col-md-2 overflow-hidden">Hometown</th>
            <th class="col-md-2 overflow-hidden">Tribe</th>
            <th class="col-md-1 overflow-hidden">Grade</th>
            <th class="col-md-1 overflow-hidden">T-shirt size</th>
        </tr>
    </thead>
    <tbody>
        {% for student in performance.students.all %}
            <tr class="row small" data-id="{{ student.id }}">
                <td class="col-md-2 overflow-hidden">
                    {{ student.firstname }} {{ student.lastname }}
                </td>
                <td class="col-md-2 overflow-hidden">
                    {{ student.hometown }}, {{ student.state }}
                </td>
                <td class="col-md-2 overflow-hidden">
                    {{ student.languoids.all|join:", " }}
                </td>
                <td class="col-md-1 overflow-hidden">
                    {{ student.get_grade_display }}
                </td>
                <td class="col-md-1 overflow-hidden">
                    {{ student.tshirt_size }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<p>
    &nbsp;
</p>
<hr />
<div class="mb-3">
    <a href="edit/" class="btn btn-primary">Edit</a>
    <span>
        <a href="/" class="btn btn-danger">Delete</a>
    </span>
</div>


{% endblock %}
