{% load bootstrap5 %}
{% load bootstrap_icons %}

    

<div class="container progress-box">
    <!-- Flex container -->
    <div class="d-flex flex-wrap">
        <!-- Box 1 -->
        <div class="d-inline-block p-2">
            <a class="d-flex stealth text-decoration-none" href="../edit/">
                <div id="performanceStatusIcon">
                    {% bs_icon 'mic-fill' %}
                </div>
                <div>
                    <div class="progress-field">&nbsp;Performance:&nbsp;<span id="performanceStatusName"></span></div>
                </div>
            </a>
        </div>
    
        <!-- This will force the next box to wrap -->
        <div id="progress-box-first-wrapper" class="w-100"></div>
    
        <!-- Box 2 -->
        <div class="d-inline-block p-2">
            <a class="d-flex stealth text-decoration-none" href="../instructors/">
                <div id="instructorsStatusIcon">
                    {% bs_icon 'people-fill' %}
                </div>
                <div>
                    <div class="progress-field">&nbsp;Instructors (<span id="instructorsStatusNumber"></span>):&nbsp;</div>
                </div>
                <div>
                    <div class="progress-value" id="instructorsStatusDiv">Pending</div>
                </div>
            </a>
        </div>
    
        <!-- Box 3 -->
        <div class="d-inline-block p-2">
            <a class="d-flex stealth text-decoration-none" href="../students">
                <div id="studentsStatusIcon">
                    {% bs_icon 'people-fill' %}
                </div>
                <div>
                    <div class="progress-field">&nbsp;Student (<span id="studentsStatusNumber"></span>):&nbsp;</div>
                </div>
                <div>
                    <div class="progress-value" id="studentsStatusDiv">Pending</div>
                </div>
            </a>
        </div>
    
        <!-- Box 4 -->
        <div class="d-inline-block p-2">
            <a class="d-flex stealth text-decoration-none" href="../accessories">
                <div>
                    {% bs_icon 'easel-fill' %}
                </div>
                <div>
                    <div class="progress-field">&nbsp;Accessories:&nbsp;</div>
                </div>
                <div>
                    <div class="progress-value" id="accessoriesStatusDiv">Pending</div>
                </div>
            </a>
        </div>
    
        <!-- Box 5 -->
        <div class="d-inline-block p-2">
            <a class="d-flex stealth text-decoration-none" href="../review">
                <div>
                    {% bs_icon 'check-square-fill' %}
                </div>
                <div>
                    <div class="progress-field">&nbsp;Review:&nbsp;</div>
                </div>
                <div>
                    <div class="progress-value" id="reviewStatusDiv">Pending</div>
                </div>
            </a>
        </div>
    
        <!-- Box 6 -->
        <div class="d-inline-block p-2">
            <div class="d-flex stealth text-decoration-none">
                <div>
                    {% bs_icon 'hand-thumbs-up-fill' %}
                </div>
                <div>
                    <div class="progress-field">&nbsp;Approval:&nbsp;</label></div>
                </div>
                <div>
                    <div class="progress-value" id="approvalStatusDiv">Pending</div>
                </div>
            </div>
        </div>
    </div>
    </div>